* {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  height: 100vh;

  user-select: none;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: #acacac;
  box-shadow: inset 0 0 1000px 1px #000;
}

/*  */

canvas {
  aspect-ratio: 1;
  height: 97%;

  background-color: #fff;

  image-rendering: pixelated;
}

.frame {
  position: absolute;
  image-rendering: pixelated;
}

/*  */

.paint-menu {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100%;
  padding: 30px;

  background-color: #fff;
  box-shadow: 0 0 50px 0 #000;
  transition: bottom ease-in-out 100ms;
}
.hidden {
  bottom: -200px;
}

.paint-menu span {
  font-size: 60px !important;
}

.bar {
  width: 2px;
  height: 30px;
  background-color: #000;
}

.color {
  aspect-ratio: 1;
  height: 60px;
  border: 0.1px solid rgb(120, 120, 120, 0.5);
  
  cursor: pointer;
}
.color[selected] {
  border-width: 5px;
}

.btn {
  cursor: pointer;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: #0005;
}

.timer span, .timer .number { font-size: 25px !important; }

/* Animation */

@keyframes shake {
  10%, 90% { transform: translateX(-1px); }
  20%, 80% { transform: translateX(2px); }
  30%, 50%, 70% { transform: translateX(-4px); }
  40%, 60% { transform: translateX(4px); }
}